<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="icon" href="./public/favicon.ico")

    title #{process.env.DOCUMENT_TITLE}
    meta(name="description" content=process.env.DOCUMENT_DESCRIPTION)
    meta(property="og:title" content=process.env.DOCUMENT_TITLE)
    meta(property="og:description" content=process.env.DOCUMENT_DESCRIPTION)

    link(rel="stylesheet" href="./style.scss")
    script(src="https://www.google.com/recaptcha/api.js" defer)
    script(src="./main.js" defer)

  body.page
    main.align-card
      section.mui-panel.card
        div.card-image(role="img" aria-label="Oasis Foundation logo")
        div.card-content
          h1.title #{process.env.CARD_TITLE}

          form#request-form(action="/api/v1/fund" method="POST")
            p.mui--text-center.mui--text-dark-secondary
              | Drops are limited to
              |
              <strong>#{process.env.DROP_LIMIT_TEXT}</strong>

            div.mui-select
              select#paratime(name="paratime")
                option(value="") Consensus
                option(value="emerald") Emerald
                option(value="cipher") Cipher

            div.mui-textfield.mui-textfield--float-label
              input#account(type="text" name="account" required)
              label(for="account") Address here

            input(type="hidden" name="amount" value="1")

            div(class="g-recaptcha" data-sitekey=process.env.CAPTCHA_SITE_KEY)

            button#request-form-submit.mui-btn.mui-btn--primary(type="submit")
              | Request Test Tokens
              |
              span.spinner-when-disabled
                div.spinner

          form#response-display(action="/" method="GET" style={display: 'none'})
            p#response-display-text
            button.mui-btn.mui-btn--primary(type="submit")
              | Start again
