<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="icon" href="./public/favicon.svg" type="image/svg+xml")

    title #{process.env.DOCUMENT_TITLE}
    meta(name="description" content=process.env.DOCUMENT_DESCRIPTION)
    meta(property="og:title" content=process.env.DOCUMENT_TITLE)
    meta(property="og:description" content=process.env.DOCUMENT_DESCRIPTION)

    link(rel="stylesheet" href="./style.scss")
    script(src="https://www.google.com/recaptcha/api.js" defer)
    script(src="./main.js" defer type="module")

  body.page
    a#is_drained.mui-btn.mui-btn--danger(
      role="alert"
      style="display: none; box-sizing: border-box; text-transform: none;"
      href=process.env.FAUCET_BALANCE_EXPLORER
    )
      | Faucet balance is too low to fund your account. Please try again later or contact us!

    a#is_almost_drained.mui-btn(
      role="alert"
      style="display: none; box-sizing: border-box; text-transform: none;"
      href=process.env.FAUCET_BALANCE_EXPLORER
    )
      | Faucet balance is low. Funding your account may fail!

    main.align-card
      section.mui-panel.card
        div.card-image(role="img" aria-label="Oasis Foundation logo")
        div.card-content
          h1.title #{process.env.CARD_TITLE}

          form#request_form(action="/api/v1/fund" method="POST")
            p.mui--text-center.mui--text-dark-secondary
              | Drops are limited to
              |
              <strong>#{process.env.DROP_LIMIT_TEXT}</strong>

            div.mui-select
              select#paratime(name="paratime")
                option(value="") Consensus
                option(value="emerald") Emerald
                option(value="sapphire") Sapphire
                option(value="cipher") Cipher

            div.mui-textfield.mui-textfield--float-label
              input#account(type="text" name="account" required)
              label(for="account") Address here

            input(type="hidden" name="amount" value=process.env.REQUEST_AMOUNT)

            div(class="g-recaptcha" data-sitekey=process.env.CAPTCHA_SITE_KEY)

            button#request_form_submit.mui-btn.mui-btn--primary(type="submit")
              | Request Test Tokens
              |
              span.spinner-when-disabled
                div.spinner

          form#response_display(action="/" method="GET" style={display: 'none'})
            p#response_display_text
            button#start_again_button.mui-btn.mui-btn--primary(type="submit")
              | Start again

            button#add_sapphire_button.mui-btn.mui-btn--primary(type="button" style="display: none;")
              | Add Sapphire to Metamask

            button#add_emerald_button.mui-btn.mui-btn--primary(type="button" style="display: none;")
              | Add Emerald to Metamask
